body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background-color: white;
}
header{
    margin-bottom: 5%;
    margin-left:1% ;
    
    background-color: brown;
}
h1{
    margin-left:  5%; 
    color:white;
}
h2{
    margin-left:  5%; 
    color:white;
    
}

h3{
    margin-left:  5%; 
    color:black;
}
div{
    margin-left: 5%; 
    border: 6px solid;
    border-color: black;
    border-radius: 10px;
    width: 31%;
}
#Baruk{
    background-color: black;
    height: 400px;
}
#ala{
    width:490px; 
    height:390px;
}
#duo{
    height:360px; 
    width: 490px;
}
#ras{
    height: 380px; width:490px;
}
#kun{
    background-color: black;
    width:490px ;

}
.conteiner{
   
    
}
.conteiner2{
    position: absolute;
    top: 320px;
    left: 800px;
}
.conteiner4{
    position: absolute;
    top: 750px;
    left: 800px;
}
header{
    
}
input{
    margin-left: 45%;
    margin-top: 1%;
    border: 3px solid;
    border-radius: 20px;
}
button{
    margin-left: 48%;
    margin-top: 1%;
    background-color: brown;
    color:white;
}
#intro{
    color:brown;
}